/* comfortaa-regular - latin_cyrillic */
@import './reset.css';
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/comfortaa-v29-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/comfortaa-v29-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/roboto-v20-latin_cyrillic-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin_cyrillic-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background: #FFFFFF;
  max-width: 375px;
  margin: 0 auto;
  min-height: 100vh;
}
.start-title {
  font-family: 'Comfortaa';
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.015em;
  margin-top: 32px;
  margin-bottom: 32px;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  outline: none;
  border: 0;
  background: transparent;
}
.button {
  max-width: 100%;
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 19px 18px 18px 18px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  &.filled {
    background: #000000;
    color: #FFFFFF;
  }
  &:hover, &:focus, &:active {
    opacity: .8;
  }
}
a {
  color: #000000;
  text-decoration: none;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}
.chat-input {
  width: 100%;
  height: 52px;
  background: #FFFFFF;
  border: 2px solid #000000;
  padding: 17px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  &::placeholder {
    color: rgba(0, 0, 0, 0.5);
  }
}
textarea.chat-input {
  height: 100px;
}
.wrapper {
  padding: 0 15px;
  width: 100%;
}
.w-100 {
  width: 100%;
}
.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.welcome {
  background: url(../images/welcome_bg.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 707px;
  position: relative;
}
.welcome__pic {
  max-width: 206px;
  display: flex;
}
.start__page-wrapper {
  padding-top: 20px;
  padding-bottom: 33px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  .button {
    width: calc(50% - 4.5px);
  }
}
.register__wrapper {
  padding-top: 16px;
}
.register__form {
  padding-bottom: 16px;
  .button {
    width: 100%;
  }
}
.register__form-row {
  margin-bottom: 16px;
}
.login__wrapper {
  padding-top: 16px;
}
.login__form {
  padding-bottom: 16px;
  .button {
    width: 100%;
  }
}
.login__form-row {
  margin-bottom: 16px;
}
.form-error {
  padding-top: 5px;
  display: none;
  color: #FF4D00;
}
.form-group--error {
  .chat-input {
    border-color:  #FF4D00;
  }
  .form-error {
    display: inline-block;
  }
}
.navigation__list {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
}
.navigation__item {
  margin-right: 30px;
  width: 25px;
  &:last-child {
    margin-right: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.navigation__link {
  width: 100%;
}
.user {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  &__avatar {
    max-width: 128px;
  }
  &__avatar-thumb {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  &__name {
    margin-bottom: 16px;
  }
  &__info-status {
    margin-bottom: 16px;
    &.active {
      color: #6ea96e;
    }
    &.no-active {
      color: #FF4D00;
    }
  }
  &__info {
    margin-bottom: 32px;
  }
  &__info-descr {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
  }
  &__action {
    margin-bottom: 16px;
    .button {
      width: 100%;
      margin-bottom: 16px;
    }
  }
}
.search {
  &__form {
    margin-bottom: 32px;
  }
  &__result {
    padding-bottom: 24px;
    margin: 0;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  &__nothing {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    margin: 32px 0;
  }
}
.chats {
  &__title {
    margin: 0;
    padding: 11px 0;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.408px;
    color: #000000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }
  &__item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 16px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  &__pic {
    width: 64px;
    height: auto;
    display: flex;
    margin-right: 16px;
  }
  &__thumb {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  &__info {
    width: calc(100% - 80px);
  }
  &__info-name {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 6px;
    position: relative;
    display: flex;
    align-items: center;
    span {
      width: 7px;
      height: 7px;
      border-radius: 50%;
      margin-left: 10px;
      display: flex;
      &.active {
        background-color:#6ea96e;
      }
      &.no-active {
        background-color: #FF4D00;
      }
    }
  }
  &__content {
    height: 36px;
    overflow: hidden;
  }
  &__content-message {
    font-size: 13px;
    line-height: 18px;
    color: #000000;
  }
}
.chat {
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 32px;
  }
  &__title {
    margin: 0;
    padding: 11px 0;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.408px;
    color: #000000;;
  }
  &__back {
    position: absolute;
    left: 0;
  }
  &__body {
    padding-bottom: 32px;
  }
  &__message {
    margin-bottom: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    &.me {
      .chat__avatar {
        margin-left: 16px;
        order: 1;
      }
      .chat__text {
        border-radius: 6px 0px 6px 6px;
        order: 0;
      }
    }
  }
  &__avatar {
    width: 28px;
    height: auto;
    margin-right: 16px;
    display: flex;
    img {
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
  &__text {
    width: calc(100% - 44px);
    background: rgba(0, 0, 0, 0.03);
    border-radius: 0px 6px 6px 6px;
    padding: 16px 14px;
    p {
      font-size: 13px;
      line-height: 18px;
    }
  }
}